body {
    background: rgb(25, 4, 0);
    background: linear-gradient(90deg, rgba(25, 4, 0, 1) 1%, rgba(25, 25, 35, 1) 11%, rgba(25, 36, 53, 1) 28%, rgba(59, 68, 118, 1) 41%, rgba(35, 61, 100, 1) 71%, rgba(25, 36, 53, 1) 90%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.container {
    max-width: 960px;
}

.g-5 {
    margin-right: -15px;
    margin-left: -15px;
    background-color: blanchedalmond;
    background-attachment: fixed;
    color: black;
}

h2,
p {
    color: rgb(154, 125, 125);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #ccc;
}

#register_picture {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #ccc;
}