body {
    background: rgb(25, 4, 0);
    background: linear-gradient(90deg, rgba(25, 4, 0, 1) 1%, rgba(25, 25, 35, 1) 11%, rgba(25, 36, 53, 1) 28%, rgba(59, 68, 118, 1) 41%, rgba(35, 61, 100, 1) 71%, rgba(25, 36, 53, 1) 90%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    margin: auto 0;
    padding: 0;
}

#map {
    height: 80vh;
}

#base_footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #094942;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.content {
    background-color: rgb(78, 123, 192);
}

main {
    min-height: 100vh;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-link>.bi {
    margin-top: .125rem;
    margin-left: .125rem;
    fill: currentcolor;
    transition: transform .25s ease-in-out;
}

.icon-link:hover>.bi {
    transform: translate(.25rem);
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}