<form method="post" action="{{ path('my_notes_delete', {'id': my_note.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ my_note.id) }}">
    <button class="btn btn-outline-danger" id="delete_button">Delete</button>
</form>
